@page "/Organisations/{organisation}/Users"
@using ChatChainCommon.DatabaseModels
@model WebApp.Pages.Organisations.Users.Index
@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Display Name</th>
                <th>
                    @if (Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.CreateOrgUsers) 
                         || Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                    {
                        <a class="btn btn-success btn-sm" asp-page="../Invite/Create" asp-route-organisation="@Model.Organisation.Id">Invite User</a>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (Index.ResponseUser responseUser in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(m => responseUser.DisplayName)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if ((Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.EditOrgUsers)
                                  || Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                                 && Model.Organisation.Owner != responseUser.Id
                                 && responseUser.Id != User.Claims.First(claim => claim.Type.Equals("sub")).Value)
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./Permissions" asp-route-organisation="@Model.Organisation.Id" asp-route-id="@responseUser.Id">Permissions</a>
                            }
                            @if ((Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.DeleteOrgUsers)
                                  || Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                                 && Model.Organisation.Owner != responseUser.Id
                                 && responseUser.Id != User.Claims.First(claim => claim.Type.Equals("sub")).Value)
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Remove" asp-route-organisation="@Model.Organisation.Id" asp-route-id="@responseUser.Id">Remove</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-danger btn-sm" asp-page="../Index">Back To Organisations</a>
    </div>
</div>