@page "/Organisations/{organisation}/Users"
@using WebApp.Api
@using WebApp.Extensions
@model WebApp.Pages.Organisations.Users.Index
@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Display Name</th>
                <th>
                    @if (Model.Organisation.UserHasPermission(Model.OrganisationUser, Api.Permissions.CreateOrgUsers))
                    {
                        <a class="btn btn-success btn-sm" asp-page="../Invite/Create" asp-route-organisation="@Model.Organisation.Id">Invite User</a>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (OrganisationUser user in Model.Users)
            {
                <tr>
                    <td>
                        @user.Id
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (Model.Organisation.UserHasPermission(Model.OrganisationUser, Api.Permissions.EditOrgUsers) && !Model.Organisation.UserIsOwner(user) && user.Id != Model.OrganisationUser.Id)
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./Permissions" asp-route-organisation="@Model.Organisation.Id" asp-route-id="@user.Id">Permissions</a>
                            }
                            @if (Model.Organisation.UserHasPermission(Model.OrganisationUser, Api.Permissions.DeleteOrgUsers) && !Model.Organisation.UserIsOwner(user) && user.Id != Model.OrganisationUser.Id)
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Remove" asp-route-organisation="@Model.Organisation.Id" asp-route-id="@user.Id">Remove</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-danger btn-sm" asp-page="../Index">Back To Organisations</a>
    </div>
</div>