@page "/Organisations/{organisation}/Users"
@using WebApp.Api
@model WebApp.Pages.Organisations.Users.Index
@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Display Name</th>
                <th>
                    @if (await Model.Client.CanCreateInviteAsync(true, Model.Organisation.Id))
                    {
                        <a class="btn btn-success btn-sm" asp-page="../Invite/Create" asp-route-organisation="@Model.Organisation.Id">Invite User</a>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach ((string key, ResponseUser value) in Model.Users)
            {
                <tr>
                    <td>
                        @value.DisplayName (@value.EmailAddress)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (await Model.Client.CanUpdateUserAsync(true, Model.Organisation.Id, key))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./Permissions" asp-route-organisation="@Model.Organisation.Id" asp-route-id="@key">Permissions</a>
                            }
                            @if (await Model.Client.CanDeleteUserAsync(true, Model.Organisation.Id, key))
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Remove" asp-route-organisation="@Model.Organisation.Id" asp-route-id="@key">Remove</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-danger btn-sm" asp-page="../Index">Back To Organisations</a>
    </div>
</div>