@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>body>.navbar {filter: blur(5px);}</style>

<div class="hero is-fullheight-with-navbar is-primary">
    <div class="full-page-form-background">
        <section class="floating-form">
            <a class="delete is-pulled-right" aria-label="Close" asp-page="./../Index"></a>

            <form method="post">
                <h4 class="is-size-4 has-bottom-margin">Log in to <strong>Chat</strong>Chain</h4>
                <div asp-validation-summary="All" class="has-text-warning"></div>

                <div class="field">
                    <label class="label has-text-white" asp-for="Input.Username"></label>
                    <div class="control">
                        <input asp-for="Input.Username" class="input has-background-primary has-text-white" type="text" placeholder="username" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-white" asp-for="Input.Password"></label>
                    <div class="control">
                        <input asp-for="Input.Password" class="input has-background-primary has-text-white" type="password" placeholder="**********" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="field">
                    <label class="checkbox">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="field has-text-centered">
                    <button class="button is-danger is-wider is-centered" type="submit">Log in</button>
                </div>
                <div class="field">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
    <div class="col-md-6 col-md-offset-2">
        <!-- Left Entact in-case you ever integrate with another provider -->
        <!--<section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {}
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>-->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
