@page "/{organisation}/Clients"
@using Client = WebApp.Api.Client
@model IndexModel
@{
    ViewData["Title"] = "Clients";
    Layout = "Shared/_ClientGroupsLayout";
}
<div class="container">

    <h2>@ViewData["Title"]</h2>

    <!-- <p >@Model.Clients.Count</p> -->
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Client Name</th>
                <th>Client Description</th>
                <th>
                    @if (await Model.ApiClient.CanCreateClientAsync(true, Model.Organisation.Id))
                    {
                        <a class="btn btn-success btn-sm" asp-page="./Create" asp-route-organisation="@Model.Organisation.Id">Create New</a>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (Client client in Model.Clients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => client.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => client.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => client.ClientDescription)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (await Model.ApiClient.CanUpdateClientConfigAsync(true, Model.Organisation.Id, client.Id))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./EditClientConfig" asp-route-organisation="@Model.Organisation.Id" asp-route-client="@client.Id">Config</a>
                            }
                            @if (await Model.ApiClient.CanUpdateClientAsync(true, Model.Organisation.Id, client.Id))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-organisation="@Model.Organisation.Id" asp-route-client="@client.Id">Edit</a>
                            }
                            @if (await Model.ApiClient.CanDeleteClientAsync(true, Model.Organisation.Id, client.Id))
                            {
                                <a class="btn btn-danger  btn-sm" asp-page="./Delete" asp-route-organisation="@Model.Organisation.Id" asp-route-client="@client.Id">Delete</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>