@page "/{organisation}/Clients"
@using ChatChainCommon.DatabaseModels
@model IndexModel
@{
    ViewData["Title"] = "Clients";
    Layout = "Shared/_ClientGroupsLayout";
}
<div class="container">

    <h2>@ViewData["Title"]</h2>

    <!-- <p >@Model.Clients.Count</p> -->
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Client Name</th>
                <th>Client Description</th>
                <th>
                    @if (Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.CreateClients)
                         || Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                    {
                        <a class="btn btn-success btn-sm" asp-page="./Create" asp-route-organisation="@Model.Organisation.Id">Create New</a>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (Client client in Model.Clients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => client.ClientId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => client.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => client.ClientDescription)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.EditClients)
                                 || Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./EditClientConfig" asp-route-organisation="@Model.Organisation.Id" asp-route-client="@client.Id">Config</a>
                                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-organisation="@Model.Organisation.Id" asp-route-client="@client.Id">Edit</a>
                            }
                            @if (Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.DeleteClients)
                                 || Model.Organisation.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                            {
                                <a class="btn btn-danger  btn-sm" asp-page="./Delete" asp-route-organisation="@Model.Organisation.Id" asp-route-client="@client.Id">Delete</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>