@page "/{organisation}/Clients/PreviewNew/{client}"
@model WebApp.Pages.Clients.PreviewNew
@{
    ViewData["Title"] = "PreviewNew";
    Layout = "Shared/_ClientGroupsLayout";
}
<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
    <h2>Create new Client</h2>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <p class="text-danger">Your new Client, Please save this password somewhere secure, you will not be able to view it again!</p>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(m => m.Client.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.Client.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.Client.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.Client.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.Password)
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.Password)
                </dd>
            </dl>
            <a asp-page="../Clients" asp-route-organisation="@Model.Organisation.Id" class="btn btn-danger">Back to Clients</a>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}