@page
@model ClientsModel

@{
    ViewData["Title"] = Model.Group.GroupName + "'s Clients";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table" style="color: white">
            <thead>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Description</th>
                <th><a class="btn btn-success btn-sm" asp-page="./AddClient" asp-route-id="@Model.Group.Id">Edit Clients</a></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var client in Model.Clients)
            {
                Model.ClientId = client.ClientId;
                <tr>
                    <td>
                        @Html.DisplayFor(m => client.ClientId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => client.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => client.ClientDescription)
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" asp-for="@Model.Group.Id"/>
                            <input type="hidden" asp-for="@Model.ClientId" value="@client.ClientId"/>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div>
        <a asp-page="./Index" class="btn btn-danger">Back to Groups</a>
    </div>
</div>