@page
@model GroupsModel

@{
    ViewData["Title"] = "Groups";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Database Id</th>
                <th>Group Name</th>
                <th>Group Id</th>
                <th>Group Description</th>
                <th>Clients</th>
                <th><a class="btn btn-success btn-sm" asp-page="./Create">Create New</a></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(m => group.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => group.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => group.GroupId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => group.GroupDescription)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-page="./Clients" asp-route-id="@group.Id.ToString()">View Clients</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@group.Id">Edit</a>
                            <a class="btn btn-danger  btn-sm" asp-page="./Delete" asp-route-id="@group.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>