@page "/{organisation}/Groups"
@using WebApp.Api
@using WebApp.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Groups";
    Layout = "Shared/_ClientGroupsLayout";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Group Id</th>
                <th>Group Name</th>
                <th>Group Description</th>
                <th>
                    @if (Model.Organisation.UserHasPermission(Model.OrganisationUser, Permissions.CreateGroups))
                    {
                        <a class="btn btn-success btn-sm" asp-page="./Create" asp-route-organisation="@Model.Organisation.Id">Create New</a>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (Group group in Model.Groups)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(m => group.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => group.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => group.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (Model.Organisation.UserHasPermission(Model.OrganisationUser, Permissions.EditGroups))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./EditClients" asp-route-organisation="@Model.Organisation.Id" asp-route-group="@group.Id">Edit Clients</a>
                                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-organisation="@Model.Organisation.Id" asp-route-group="@group.Id">Edit</a>
                            }
                            @if (Model.Organisation.UserHasPermission(Model.OrganisationUser, Permissions.DeleteGroups))
                            {
                                <a class="btn btn-danger  btn-sm" asp-page="./Delete" asp-route-organisation="@Model.Organisation.Id" asp-route-group="@group.Id">Delete</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>