@page
@using IdentityServer4.EntityFramework.Entities
@using Client = IdentityServer4.EntityFramework.Entities.Client
@model IndexModel

@{
    ViewData["Title"] = "Clients";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="./Create">Create New</a>
</p>

<div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Client Name</th>
                <th>Client Id</th>
                <th>Created</th>
                <th>Enabled</th>
            </tr>
            </thead>
            <tbody>
                @foreach (Client client in Model.Clients)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => client.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.ClientName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.ClientId)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.Enabled)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@client.Id">Edit</a>
                                <a asp-page="./Delete" asp-route-id="@client.Id">Delete</a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
</div>