@page
@using WebApp.Api
@using WebApp.Extensions
@model WebApp.Pages.Organisations.Index

@{
    ViewData["Title"] = "Organisations";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Organisation Name</th>
                <th>Clients & Groups</th>
                <th>Users</th>
                <th>
                    <a class="btn btn-success btn-sm" asp-page="./Create">Create New</a>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (OrganisationDetails orgDetails in Model.Organisations)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(m => orgDetails.Name)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" asp-page="/Clients/Index" asp-route-organisation="@orgDetails.Id">Clients</a>
                            <a class="btn btn-primary btn-sm" asp-page="/Groups/Index" asp-route-organisation="@orgDetails.Id">Groups</a>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-page="Users/Index" asp-route-organisation="@orgDetails.Id">Users</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (orgDetails.Id != null && orgDetails.UserHasPermission(Model.OrganisationUsers[orgDetails.Id.Value.ToString()], Permissions.EditOrg))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-organisation="@orgDetails.Id">Edit</a>
                            }
                            @if (orgDetails.Id != null && orgDetails.UserIsOwner(Model.OrganisationUsers[orgDetails.Id.Value.ToString()]))
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-organisation="@orgDetails.Id">Delete</a>
                            }
                            @if (orgDetails.Id != null && !orgDetails.UserIsOwner(Model.OrganisationUsers[orgDetails.Id.Value.ToString()]))
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Leave" asp-route-organisation="@orgDetails.Id">Leave</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}