@page
@using ChatChainCommon.DatabaseModels
@model WebApp.Pages.Organisations.Index

@{
    ViewData["Title"] = "Organisations";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Organisation Name</th>
                <th>Clients & Groups</th>
                <th>Users</th>
                <th><a class="btn btn-success btn-sm" asp-page="./Create">Create New</a></th>
            </tr>
            </thead>
            <tbody>
            @foreach (Organisation org in Model.Organisations)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(m => org.Name)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" asp-page="/Clients/Index" asp-route-organisation="@org.Id">Clients</a>
                            <a class="btn btn-primary btn-sm" asp-page="/Groups/Index" asp-route-organisation="@org.Id">Groups</a>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-page="Users/Index" asp-route-organisation="@org.Id">Users</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (org.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.EditOrg) 
                                 || org.Users[User.Claims.First(claim => claim.Type.Equals("sub")).Value].Permissions.Contains(OrganisationPermissions.All))
                            {
                                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-organisation="@org.Id">Edit</a>
                            }
                            @if (org.Owner == User.Claims.First(claim => claim.Type.Equals("sub")).Value)
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-organisation="@org.Id">Delete</a>
                            }
                            @if (org.Owner != User.Claims.First(claim => claim.Type.Equals("sub")).Value)
                            {
                                <a class="btn btn-danger btn-sm" asp-page="./Leave" asp-route-organisation="@org.Id">Leave</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>